﻿@model IEnumerable<Elimination.Models.Elimination>

@{
    ViewBag.Title = "Eliminations";
}

<div class="hover-board" style="margin-top: 20px; margin-bottom: 30px;">
    <h2 style="text-align: center;">Eliminations</h2>
</div>

<table class="table table-container">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Game.Name)
        </th>
        <th>
            Eliminator
        </th>
        <th></th>
        <th>
            Eliminated
        </th>
        <th>
            Timestamp
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="clickable-row" data-href="@Url.Action("Elimination", "Games", new { id = item.EliminationID })">
            <td>
                @Html.DisplayFor(modelItem => item.Game.Name)
            </td>
            <td @if (item.EEliminator.PlayerID == ViewBag.PlayerID) { @: style="color: #33dd33"
                }>
                @Html.DisplayFor(modelItem => item.EEliminator.UserName)
            </td>
            <td></td>
            <td @if (item.EEliminated.PlayerID == ViewBag.PlayerID) { @: style="color: #dd3333"
                }>
                @Html.DisplayFor(modelItem => item.EEliminated.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
        </tr>
    }

</table>
