﻿@model Elimination.Models.GamePlayers
@{
    ViewBag.Title = "Invite Players";
}

<div class="hover-board" style="margin-bottom: 30px; margin-top: 30px; padding-top: 15px; padding-bottom: 15px;">
    <h2 class="ubuntu-font" style="text-align: center;">Invite Players to The: @Model.Game.Name</h2>
</div>

<strong id="player-id-holder" data-player-id="@Model.Host.PlayerID"></strong>

<div class="container-fluid">
    <div class="row top-of-table-row">
        <div class="row" id="invite-players-buttons-row">
            <div class="col-md-4" style="margin-right: 20px;">
                <select class="form-control" name="wemenu" id="pick-players-dropdown">
                    @{
                        var requestingPlayers = Model.RequestingPlayers;
                    }
                    @foreach (var player in Model.AllPlayers)
                    {
                        @*This will hold a class called selected if the current player has been previously selected*@
                        var selectedPlayer = "";

                        @*This will hold an image if the current player is requesting to join the game*@
                        var requestingPlayer = "";

                        @*Check to see if the current player is in the game (selected player)*@
                        if (Model.CurrentGamePlayers.Contains(player))
                        {
                            selectedPlayer = "selected=selected";
                        }

                        @*This checks to see if the current player is requesting to join the game. If they are, then
                            we will assign the requestingPlayer var to an image.*@
                        if (requestingPlayers != null && requestingPlayers.Contains(player))
                        {
                            requestingPlayer = "data-image=/Images/addplayer.png";
                        }

                        <option value="@player.PlayerID" @selectedPlayer @requestingPlayer>@player.FirstName @player.LastName</option>
                    }
                </select>
            </div>
            <div class="col-md-2" id="send-players-button-col">
                <button class="btn btn-default" value="@Model.Game.GameID" id="add-players-button">UPDATE PLAYERS</button>
            </div>
            <div class="col-md-2" id="send-invites-button-col">
                <button class="btn btn-default" value="@Model.Game.GameID" id="email-invites-button" onclick="sendInvites('email')">EMAIL INVITES</button>
            </div>
            <div class="col-md-2" id="sms-invites-button-col">
                <button class="btn btn-default" value="@Model.Game.GameID" id="sms-invites-button" onclick="sendInvites('sms')">TXT INVITES</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-container" id="game-players-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CurrentGamePlayers.FirstOrDefault().UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentGamePlayers.FirstOrDefault().Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.CurrentGamePlayers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ms-select")
    @Scripts.Render("~/bundles/invitePlayers")

    <script type="text/javascript">
        setSelectedPlayerNames();

        $(document).ready(function (e) {
            try {
                $("#pick-players-dropdown").msDropDown({ childWidth: "250px", enableCheckbox: true });
            } catch (e) {
                alert(e.message);
            }

            enableSelectedPlayers();
        });
    </script>
}