﻿@{
    ViewBag.Title = "Credits";
}

<div class="row">
    <div class="col-md-1"></div>
    <div id="left-landing" class="col-md-10">
        <h1 class="text-center">Credits.</h1>
        <h4>
            The Elimination Framework is a school project by a student development team (Sneaky Software)
            from Western Oregon University as part of their Senior Capstone courses,
            CS 460-462, Software Engineering I, II, and III.
        </h4>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div id="left-landing" class="col-md-10">
        <h1 class="text-center">Vision Statement</h1>
        <h4>
            For people who want to create and play elimination-based live-action mobile games
            (like Assassin! or Humans Vs. Zombies), the Elimination Framework and API is a web
            application (and associated mobile apps) that allows for a host to make a game,
            set rules, and invite other users to join the game. Elimination-based live action games
            involve players being assigned other players as targets and then proceeding to attempt
            to eliminate their target/targets, traditionally with mock-projectiles (like Nerf-guns
            or balled up socks), by whatever rules are established for the specific game, until
            either the last player/team is remaining. Unlike current methods for playing
            elimination-based live-action games, our full website will remove the subjectivity that
            comes from a human moderator and human players determining a successful elimination and
            also make adding more rules and features (like player skill modifiers, a player inventory,
            and methods of elimination) to games easier and more fun. The application will store user
            accounts, skills, and stats from previous and on-going games, as well as make decisions
            for furthering current games and setting up new ones.
        </h4>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div id="left-landing" class="col-md-10">
        <p></p>
        <h2 class="text-center">SneakySoftware is:</h2>
        <div id="left-landing" class="col-md-3">
            <h4>Blake Bauer</h4>
        </div>
        <div id="left-landing" class="col-md-3">
            <h4>Michael Brown</h4>
        </div>
        <div id="left-landing" class="col-md-3">
            <h4>Hannah Madland</h4>
        </div>
        <div id="left-landing" class="col-md-3">
            <h4>Alexander Molodyh</h4>
        </div>
    </div>
    <div class="col-md-1"></div>
    <p></p>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div id="left-landing" class="col-md-10 text-center">
        <h2 class="text-center">Source code:</h2>
        <a href="https://bitbucket.org/blakebauer/sneakysoftware/src/master/"><h3 class="text-center">Bitbucket Repository</h3></a>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div id="left-landing" class="col-md-12">
        <p></p>
        <h2 class="text-center">Process:</h2>
        <div id="left-landing" class="col-md-3">
            <h4>Tools</h4>
            <ul class="text-left">
                <li>Visual Studio 2017</li>
                <li>Git</li>
                <li>SQL Server Management Studio</li>
                <li>Microsoft Azure Application Services</li>
                <li>Microsoft Azure Cognitivev Services</li>
                <li>Microsoft Azure Basic Storage</li>
                <li>Twilio</li>
            </ul>
        </div>

        <div id="left-landing" class="col-md-3">
            <h4>Frameworks</h4>
            <ul class="text-left">
                <li>ASP.NET MVC 5</li>
                <li>Bootstrap</li>
                <li>Nunit</li>
                <li>Specflow</li>
                <li>jQuery</li>
            </ul>
        </div>
        <div id="left-landing" class="col-md-3">
            <h4>Software Development Lifecycle</h4>
            <ul class="text-left">
                <li>Disciplined Agile Development</li>
                <li>SCRUM</li>
                <li>Test Driven Development</li>
            </ul>
        </div>
        <div id="left-landing" class="col-md-3">
            <h4>Communication</h4>
            <ul class="text-left">
                <li>Slack</li>
            </ul>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

