﻿@model class_project.Models.RunFile

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RunFile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Athlete.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Athlete.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FitFilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FitFilePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FileID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
